.header {
  font-size: 40px;
  color: white;
  background-color: #232f34;
}

.header > span {
  color: #f9aa33;
}
.nav-bar {
  background-color: #232f34;
  font-size: 20px;
}

.nav-bar a {
  color: white;
  text-decoration: none;
}

.nav-bar a:hover {
  color: #f9aa33;
}

.card-image {
  height: 150px;
  width: 150px;
}
